/** Previously inline CSS from hover-template.js */

.laconic-hover {
  text-align: left;
  font-style: normal;
}

.laconic-hover > div {
  max-width: 300px;
  font-family: "Nunito", "Roboto", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
}

.laconic-hover > p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.laconic-hover > hr {
  opacity: 0.1;
  margin: 0 !important;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.laconic-hover > p:nth-child(3) {
  font-size: 1rem;
}
