@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/animations/perspective.css";

/* Fixes an error in Chrome where Tippy causes linebreaks because of Chrome stylesheet */
[data-tippy-root] {
  display: inline;
}

.laconic-hover {
  text-align: left;
  font-style: normal;
}

.laconic-hover > div {
  max-width: 300px;
  font-family:
    "Nunito",
    "Roboto",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    /* biome-ignore lint/a11y/useGenericFontNames: I think this is just what tvtropes does */
      "sans-serif";
}

.laconic-hover > p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.laconic-hr {
  opacity: 0.1;
  margin: 0 !important;
  padding: 1px;
}

.tvtropes-hr {
  border: none;
  border-bottom: 1px solid #aeb3ba;
  margin: 3px 0 !important;
}

.laconic-hover > p:nth-child(3) {
  font-size: 1rem;
  padding: 2px;
}

.error-message {
  color: #6c757d;
  font-size: 0.8rem;
}
