@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/animations/perspective.css";

:root {
  --tvt-primary: #333;
  --tvt-secondary: #aeb3ba;
  --tvt-link: #006bb1;
}

[data-theme="dark"] {
  --tvt-primary: #dedede;
  --tvt-secondary: #aeb3ba;
  --tvt-link: #008fec;
  --tvt-border-color: #444;
}

/* Fixes an error in Chrome where Tippy causes linebreaks because of Chrome stylesheet */
[data-tippy-root] {
  display: inline;
}

.laconic-hover {
  text-align: left;
  font-style: normal;
  color: var(--tvt-primary);
  display: block;
  line-height: 24px;
}

.laconic-hover .indent {
  vertical-align: baseline;
  font-size: 0.84em;
  margin-left: 18px;
  line-height: normal;
}

.laconic-hover .twikilink {
  color: var(--tvt-link);
  text-decoration: none;
}

.laconic-hover > div {
  max-width: 300px;
  font-family: "Nunito", "Roboto", "Helvetica Neue", "Helvetica", "Arial",
    /* biome-ignore lint/a11y/useGenericFontNames: I think this is just what tvtropes does */
      "sans-serif";
}

.laconic-hover h1 {
  font-weight: bold;
  font-size: 1.2rem;
}

.laconic-hover hr {
  border: none;
  border-bottom: 1px solid var(--tvt-secondary);
  border-color: var(--tvt-border-color, var(--tvt-secondary));
  margin: 3px 0 !important;
}

.laconic-hover > p:nth-child(3) {
  font-size: 1rem;
  padding: 2px;
}

.laconic-hover .error {
  color: var(--tvt-secondary);
}
